
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Karla', sans-serif;

}


h1{
    font-weight: 700;
    font-size: 2em;
    color: hsl(179, 62%, 43%);
}

h2{
    font-weight: 400;
    font-size: 1.3em;
}

body{
    width: 100%;
    height: 100%;
}




.sec1{
    grid-area: bloco1;
    background-color:darkgrey;
}

.sec2{
    grid-area: bloco2;
    background-color:hsl(179, 62%, 43%);

}
.sec3{
    grid-area: bloco3;
    background-color:blue;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "bloco1 bloco1" "bloco2 bloco3 ";
}

