
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;

}

h1{
    font-weight: 700;
    font-size: 2em;
    color: hsl(179, 62%, 43%);
}

h2{
    font-weight: 400;
    font-size: 1.3em;
}

.sec1{
    grid-area: bloco1;
}

.sec2{
    grid-area: bloco2;
    

}
.sec3{
    grid-area: bloco3 ;
    
}

.grid{
    display: grid;
    max-width: 1000px;
    height: 500px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "bloco1 bloco1" "bloco2 bloco3 ";
}

.grid-item1 h1 {
    height: 70px;
}
.grid-item1 h2 { 
    color: hsl(71, 73%, 54%);
    font-weight: 700;
    height: 40px;
}

.grid-item1 p{
    color: rgb(152, 166, 189) ;
}
.grid-item2{
    background-color:#2ab2af;
    text-align: justify;
    
} 
.grid-item2 h2{
    padding: 30px;
    padding-bottom: 10px;
    color: #e0ffff;
    
}
.grid-item2 p{
    padding-top: 0;
    padding: 25px;
    line-height: 0.5px;
    color: #b0edee;
}
.grid-item2 .dolar{
    font-size: 35px;
    text-align: justify;
    color:#e0ffff
}



.grid-item3{
    background-color:#4abebd;

} 
.grid-item3 h2{
    color: #eaffff;
}
.grid-item3 p{
    color: #b0edee;
}

.grid-item2 button{
    background-color: hsl(71, 73%, 54%);
    font-size: 20px;
    border: 120px;
    color: white;
    padding: 15px;
    text-align: Center;
    margin: 10px 50px;
    border-radius: 6px;
    width: 250px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
}
